<%= form_for @message, remote: true, authenticity_token: true do |f| %>
  <%= f.label :content, 'Enter your message:' %>
  <%= f.text_field :content, class: "form-control input" %>
  <br>
  <%= f.hidden_field :chatroom_id, value: @chat.id %>
  <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
  <%= f.submit "Send", class: "btn btn-primary float-right" %>
<% end %>