<div class="row mb-4 ml-3 mt-4">
  <div class="col-10">
    <p><b><%= message.user.email %></b> </p>
    <p><%= message.content %></p>
  </div>

  <span class="ml-4"><%= message.created_at.strftime("%H:%M") %></span>
  <%= link_to message_path(message), method: :delete, class: 'delete ml-5' do %>
    <i class="fas fa-times"></i>
  <% end %>
</div>

