<% if current_user.present? %>
  <div class="row">
    <p class="mt-2">You - <b><%= current_user.email %></b></p>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger ml-5' %>
  </div>
<% else %>
  <%= link_to 'Log in', new_user_session_path, class: 'btn btn-success' %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success' %>
<% end %>

<h1 class="text-center mt-5">Your Dialogs</h1>
<% if @existing_chats_users.present? %>
  <% @existing_chats_users.each do |other_user| %>
    <% unless other_user == current_user %>
      <%= link_to(user_chatrooms_path(current_user, other_user: other_user.id), method: :post) do %>
        <%= other_user.email %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<h1 class="text-center mt-5">All Users</h1>
<% if current_user.present? %>
  <% @users.each do |other_user| %>
    <% unless other_user == current_user %>
      <%= link_to(user_chatrooms_path(current_user, other_user: other_user.id), method: :post) do %>
        <%= other_user.email %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
