<div>
  <h2 class="text-center">Chat with <%= @other_user.email %></h2>

  <div class="panel panel-default dialog-window mb-4">
    <% if @chat.messages.exists? %>
      <div class="panel-body" id="messages">
        <%= render @chat.messages %>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>

  <%= render partial: 'messages/message_form' %>
</div>

<!--<script>-->
<!--  createMessageChannel();-->
<!--</script>-->