<!DOCTYPE html>
<html>
  <head>
    <title>ActionCableMessenger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/65f453e416.js"></script>
  </head>

  <body class="container mt-5">
    <%= yield %>
  </body>
</html>
